body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.movie-details {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin: 0;
}


p {
    font-size: 16px;
    margin: 10px 0;
}


  /* Estilos para a lista de elenco */
  #cast {
    list-style: none;
    padding: 0;
}

#cast li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#cast li img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
}

#cast li h3 {
    margin: 0;
    font-size: 1.2rem;
}

#cast li p {
    margin: 0;
}

textarea{
    border-radius: 5px;
  margin: 10px;
    border-color: red;
    box-shadow: black;
    text-decoration: none;
    margin-bottom: -14px; ;

}


